*{
    box-sizing: border-box;

}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(173, 166, 226);
}
h1 {
    margin: 50px 0 0 0;
    color: rgb(109, 11, 11);
}
h3 {
    text-align: center;
}
table {
    margin: 30px auto;
    border: 1px solid grey;
    padding: 30px ;
    background-color: grey;
}
input[type='button'] {
    padding: 23px 70px;
    font-size: 20px;
    font-weight: 600;
}
input {
    width:100%;
    padding: 20px 60px;    
}
h1 {
    text-align: center;
}
#ac ,#cut {
    background-color: red;
}
#input {
    font-size: 30px;
}
input[type='button']:hover {
    background-color: black;
    color: white;
}